@page
@model GameLib_Front.Pages.GenresModel
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Genres</h1>
<p>
    <a asp-page="GenreCreate">Create Genre</a>
</p>
<form>
    <p style="margin-top: 20px;">
        Search: <input type="text" asp-for="SearchString" />
        <input class="btn btn-custom" type="submit" value="Search" />
    </p>
</form>
<table class="table custom-table"
       <thead>
           <tr>
               <th>
                   @Html.DisplayNameFor(model => model.Genres.ElementAt(0).Name)
               </th>
               <th></th>
           </tr>
       </thead>
       <tbody>
           @foreach (var category in Model.Genres)
           {
               <tr>
                   <td>
                       @Html.DisplayFor(item => category.Name)
                   </td>
                   <td>
                       <a asp-page="./GenreEdit" asp-route-id="@category.Id">Edit</a>
                       <a asp-page="./GenreDelete" asp-route-id="@category.Id">Delete</a>
                   </td>
               </tr>
           }
       </tbody>
</table>
