@page
@model GameLib_Front.Pages.ModeCreateModel
@{
    ViewData["Title"] = "Create Mode";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create Mode</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mode.Name" class="control-label"></label>
                <input asp-for="Mode.Name" class="form-control" />
                <span asp-validation-for="Mode.Name" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Modes">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}